@font-face {
    font-family: "Montserrat";
    /* src: url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");   */
    src: url("../_scr/Montserrat/Montserrat-Thin.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat_bold";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}


/* FireFox */

@-moz-document url-prefix() {
    html,
    body {
        font-weight: inherit !important;
    }
    .about_content {
        padding-right: 140px !important;
    }
    .about_item_right_description {
        padding-right: 80px !important;
    }
    .work_left_column {
        padding-right: 170px !important;
        line-height: 36px !important;
    }
    .question_item_link+p {
        line-height: 36px !important;
    }
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #A9A9A9;
}

textarea a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}

button {
    border: transparent;
    background: transparent;
    transition: 1.5s;
    text-align: center;
    cursor: pointer;
}

.button_orange {
    background: #ff9900;
    color: #ffffff;
}

.button_orange:hover {
    background: rgba(255, 153, 0, 0.6);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1770px;
    margin: 0px auto;
}

.title_text {
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.about_item_left_footer_adaptive_320 {
    display: none;
}

.about_item_left_footer_button_adaptive_320 {
    display: none;
}

.hidden {
    visibility: hidden;
}

@media (max-width: 770px) {
    .title_text {
        font-size: 44px;
        line-height: 29px;
    }
}

@media (max-width: 330px) {
    .title_text {
        font-size: 24px;
        line-height: 29px;
    }
}


/* ****************** Header ****************** */

.header {
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
    min-height: 100px;
    background-color: #ffffff;
}

.header_logo {
    float: left;
    margin-top: 14px;
    margin-left: 0px;
    width: 224px;
    height: 72px;
    background-image: url(../img/logo_1.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

.header_nav_items_standart {
    float: right;
    padding-top: 33px;
    min-height: 100px;
}

.header_nav_item_standart {
    font-family: "Montserrat_bold";
    font-size: 18px;
    /* font-weight: 600; */
    line-height: 22px;
    display: inline;
    padding-right: 79px;
}

.header_nav_item_link_standart:hover {
    border-bottom: 2px solid #ff9900;
    transition: 0.1s;
}

.header_nav_item_standart:nth-child(5) {
    padding-right: 65px;
}

.header_nav_item_standart:last-child {
    position: relative;
    bottom: -7px;
    padding-right: 8px;
}

.header_search_link svg #search {
    stroke: black;
}

.header_search_link svg:hover #search {
    stroke: #ff9900;
}

.header_search_link svg #search_1 {
    stroke: black;
}

.header_search_link svg:hover #search_1 {
    stroke: #ff9900;
}

.header_search_link svg #search_rect {
    stroke: black;
    stroke: black;
}

.header_search_link svg:hover #search_rect {
    fill: #ff9900;
    stroke: #ff9900;
}

.header_search_link svg #search_rect_1 {
    stroke: black;
    stroke: black;
}

.header_search_link svg:hover #search_rect_1 {
    fill: #ff9900;
    stroke: #ff9900;
}

.header_burger {
    margin-top: 4px;
    margin-left: 1px;
    width: 30px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
}

.burger_line {
    border: solid black 1px;
    width: 100%;
    transition: 0.5s;
}

.header_burger:hover .burger_line:nth-child(1) {
    border: solid #ff9900 1px;
    width: 100%;
}

.header_burger:hover .burger_line:nth-child(2) {
    border: solid #ff9900 1px;
    width: 75%;
}

.header_burger:hover .burger_line:nth-child(3) {
    border: solid #ff9900 1px;
    width: 50%;
}

.search_adaptive {
    display: none;
}

.mobile_menu {
    background-color: #ffffff;
    position: fixed;
    left: -1000vw;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: left 0.3s;
}

.mobile_menu_nav {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_menu_nav_link {
    font-size: 30px;
    font-family: "Montserrat_bold";
    color: #ff9900 !important;
    line-height: 50px;
    transition: color 0.3s ease-in-out;
}

.mobile_menu_nav_link:hover {
    color: #3d2d15 !important;
    transition: color 0.3s ease-in-out;
}

.mobile_menu_show {
    left: 0;
    transition: left 0.3s;
}

.mobile_menu_nav .header_burger {
    position: absolute;
    left: 20px;
    top: 20px;
}

@media (max-width: 1050px) {
    .container {
        max-width: 924px;
    }
    .header_adaptive {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_nav_items_standart {
        display: none;
    }
    .header_burger {
        display: flex;
    }
    .search_adaptive {
        display: block;
        margin-right: -1px;
        margin-top: 12px;
    }
    .header_logo {
        background-image: url(../img/Lodo_1024.svg);
        margin-left: 70px;
        margin-top: 26px;
    }
}

@media (max-width: 770px) {
    .container {
        max-width: 668px;
    }
    .header {
        min-height: 69px;
        background-color: #ffffff;
        padding: 0px;
        margin: 0px;
    }
    .header_burger {
        margin-top: 7px;
        margin-left: 0px;
    }
    .search_adaptive {
        display: block;
        margin-right: -5px;
        margin-top: 15px;
    }
    .header_logo {
        background-image: url(../img/Lodo_1024.svg);
        margin-left: -5px;
        margin-top: 10px;
        margin-bottom: 0px;
        width: 150px;
        height: 47.3px;
    }
}

@media (max-width: 330px) {
    .container {
        width: 290px;
    }
    .header_search_link {
        display: none;
    }
    .header {
        min-height: 25px;
    }
    .header_adaptive {
        padding: 0px;
        flex-direction: row-reverse;
    }
    .header_nav {
        display: none;
    }
    .header_burger {
        width: 25px;
    }
    .header_logo {
        background-image: url(../img/logo_320.svg);
        padding: 0px;
        margin: 0px;
        width: 97px;
        height: 31px;
    }
}


/* ****************** Hero ****************** */

.container_hero {
    padding: 0px;
    margin: 0px;
    max-height: 600px;
}

.hero_my {
    position: relative;
    top: -650px;
    left: 100px;
    z-index: 10;
    max-width: 90%;
}

.hero {
    min-height: 571px;
    width: 100%;
    margin-left: 0px;
    /* padding-left: 79px; */
    padding-bottom: 50px;
}

.hero_0 {
    background-image: url(../img/low-angle-photo-of-balconies-24620151.jpg);
}

.hero_1 {
    background-image: url(../img/brown-and-blue-glass-building-2093076\ 1.png);
}

.hero_2 {
    background-image: url(../img/apartment-apartment-building-architecture-building-323705\ 1.png);
}

h1.hero_text {
    margin: 0px;
}

.hero_text {
    font-family: Montserrat_bold;
    font-weight: 800;
    font-size: 70.3742px;
    line-height: 85px;
    color: #ffffff;
    letter-spacing: 0.85px;
    padding-top: 105px;
    max-width: 60%;
}

.hero_description {
    max-width: 50%;
    font-family: Montserrat_bold;
    margin-top: 20px;
    font-weight: bold;
    font-size: 23.4581px;
    line-height: 29px;
    color: #ffffff;
}

.hero_button {
    font-family: Montserrat_bold;
    margin: 76px 0px 00px 2px;
    width: 281px;
    height: 80px;
    font-size: 23.4581px;
    line-height: 29px;
}

.circle_button_item {
    background-image: url(../img/Ellipse_4.svg);
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

.circle_button_item:hover {
    background-image: url(../img/Ellipse_3.svg);
}

.circle_button_item:active {
    background-image: url(../img/Ellipse_2.svg);
}

.swiper-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: -30px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-pagination-bullet-active {
    background: none;
    background-image: url(../img/Ellipse_4.svg);
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-button-next {
    display: none;
}

.swiper-button-prev {
    display: none;
}

@media (max-width: 1520px) {
    .hero_button {
        margin-top: 30px;
    }
}

@media (max-width: 1380px) {
    .hero_button {
        margin-top: 0px;
    }
}

@media (max-width: 1180px) {
    .hero_text {
        padding-top: 40px;
        max-width: 70%;
    }
}

@media (max-width: 1050px) {
    .container_hero {
        margin-top: 30px;
    }
    .hero_my {
        top: -700px;
        left: 70px;
    }
    .hero_0 {
        background-image: url(../img/low-angle-photo-of-balconies-24620152.jpg);
    }
    .hero_text {
        padding-top: 159px;
        font-weight: 800;
        font-size: 61.5px;
        max-width: 100%;
        line-height: 73px;
        letter-spacing: 0.1px;
    }
    .hero_description {
        max-width: 80%;
        margin-top: 8px;
        font-size: 20px;
        line-height: 26px;
    }
    .hero_button {
        margin-top: 87px;
        width: 285px;
        height: 82px;
        letter-spacing: 0.4px;
    }
}

@media (max-width: 770px) {
    .container_hero {
        margin-top: 30px;
    }
    .hero_my {
        top: -800px;
        left: 30px;
    }
    .hero_0 {
        background-image: url(../img/low-angle-photo-of-balconies-2462015_3.jpg);
    }
    .hero_text {
        font-size: 50px;
        padding-top: 189px;
        line-height: 74px;
    }
    .hero_description {
        max-width: 100%;
        margin-top: 7px;
        line-height: 25px;
        letter-spacing: 0.1px;
    }
    .hero_button {
        margin-top: 50px;
    }
}

@media (max-width: 330px) {
    .swiper-container {
        max-height: 300px;
    }
    .container_hero {
        max-height: 300px;
    }
    .hero_my {
        top: -320px;
        left: 0px;
    }
    .hero_0 {
        background-image: url(../img/low-angle-photo-of-balconies-2462015_1_320.jpg);
    }
    .hero_text {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 32px 21px 0px 25px;
        text-align: center;
    }
    .hero_description {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin: 0px;
        padding: 6px 24px 0px 24px;
        text-align: center;
        letter-spacing: 0.2px;
    }
    .hero_button {
        width: 162px;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin: 34px 64px 40px 64px;
    }
}


/* ****************** About ****************** */

.about {
    margin-top: 65px;
    margin-left: 0px;
    padding: 0px;
    max-width: 76%;
}

.about_header {
    margin: 0px 0px 0px 2px;
}

.about_content {
    font-weight: normal;
    letter-spacing: 0.3px;
    margin-top: 22px;
    padding-right: 110px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.about_letter_i_circle {
    background-image: url(../img/Ellipse_7_Stroke.svg);
    background-repeat: no-repeat;
    margin: 0px 6px;
    padding-right: 4px;
}

.about_letter_i {
    padding: 0px 3px 2px 7px;
}

.about_items {
    margin: 42px 0px 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.about_item_left {
    background-image: url(../img/Rectangle_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 49.2%;
    min-height: 624px;
    padding: 0px;
    position: relative;
}

.about_item_left_footer {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    display: flex;
    max-height: 174px;
}

.about_item_left_footer_description {
    font-family: Montserrat_bold;
    padding: 38px 0px 50px 55px;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    min-width: 40%;
}

.about_item_left_footer_button {
    padding: 55px 69px;
    min-width: 20%;
}

.about_footer_button {
    background-color: transparent;
    border: 3px solid #ff9900;
    width: 100%;
    height: 60px;
    padding-top: 4.5px;
    font-family: Montserrat_bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.about_footer_button:hover {
    background-color: #ff9900;
}

.about_items_right {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.about_item_right {
    outline: 1px solid #cacaca;
    width: 100%;
    min-height: 295px;
    margin: 4px 0px 26px 0px;
    display: flex;
}

.about_item_right:last-child {
    margin-bottom: 0px;
}

.about_item_right_img_cube {
    width: 20%;
    padding: 70px 63px;
}

.about_item_right_img_gear {
    width: 20%;
    padding: 54px 63px;
}

.about_item_right_description {
    font-weight: normal;
    line-height: 32px;
    letter-spacing: 0.4px;
    padding: 62px 0px 0px 20px;
    width: 55%;
    margin-bottom: 20px;
}

.about_item_right_description_header {
    letter-spacing: 0px;
    font-family: Montserrat_bold;
    font-size: 24px;
    padding: 0px;
    margin: 3px 0px 3px 0px;
}

@media (max-width: 1050px) {
    .about {
        margin-top: 60px;
        max-width: 110%;
    }
    .about_header {
        margin-left: -2px;
    }
    .about_content {
        letter-spacing: 0.28px;
        margin-top: 25px;
        padding: 0px;
        line-height: 32px;
    }
    .about_items {
        display: flex;
        flex-direction: column;
        margin: 60px 0px 0px 0px;
    }
    .about_item_left {
        width: 100%;
        min-height: 640px;
    }
    .about_item_left_footer_description {
        padding: 38px 90px 50px 45px;
        max-width: 60%;
        letter-spacing: 0.01px;
    }
    .about_item_left_footer_button {
        padding: 56px 0px 56px 10px;
    }
    .about_items_right {
        margin-top: 49px;
        width: 100%;
        margin-right: 11px;
    }
    .about_item_right {
        width: 100%;
        min-height: 290px;
        margin: 1px 0 45px 0;
    }
    .about_item_right_img_cube {
        width: 25%;
        padding: 73px 0px 0px 111px;
    }
    .about_item_right_img_gear {
        width: 25%;
        padding: 59px 0px 0px 112px;
    }
    .about_item_right_description {
        line-height: 32px;
        letter-spacing: 0.35px;
        padding: 62px 0px 0px 5px;
        width: 49%;
    }
}

@media (max-width: 770px) {
    .about {
        margin-top: 60px;
    }
    .about_header {
        margin-left: 0px;
    }
    .about_content {
        letter-spacing: 0.3px;
        margin-top: 25px;
        margin-left: 2px;
    }
    .about_items {
        margin-top: 60px;
    }
    .about_item_left {
        width: 100%;
        min-height: 650px;
    }
    .about_item_left_footer_description {
        padding: 10px 0px 50px 25px;
        width: 100%;
        letter-spacing: -0.1px;
        line-height: 31px;
    }
    .about_footer_button {
        min-width: 10%;
        padding-bottom: 0px;
        margin-left: 0px;
    }
    .about_items_right {
        margin-top: 40px;
        width: 100%;
    }
    .about_item_right {
        min-height: 233px;
        width: 100%;
        margin-bottom: 40px;
    }
    .about_item_right:last-child {
        margin-bottom: 0px;
    }
    .about_item_right_img_cube {
        width: 120px;
        height: 120px;
        margin: 58px 0px 0px 32px;
        padding: 0px;
    }
    .Group_25 {
        width: 120px;
        height: 120px;
    }
    .about_item_right_img_gear {
        width: 120px;
        height: 120px;
        margin: 60px 0px 0px 34px;
        padding: 0px;
    }
    .about_item_right_description_header {
        letter-spacing: 0.01px;
    }
    .about_item_right_description {
        line-height: 32px;
        letter-spacing: 0.3px;
        padding: 0px 10px 15px 0px;
        margin: 34px 0px 0px 30px;
        width: 100%;
        min-height: 160px;
    }
}

@media (max-width: 330px) {
    .about {
        margin: 39px 0px 0px 0px;
    }
    .about_content {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        margin-top: 2px;
        margin-left: 2px;
    }
    .about_items {
        margin-top: 10px;
    }
    .about_item_left {
        background-image: url(../img/Rectangle2_320.png);
        min-height: 200px;
    }
    .about_item_left_footer {
        display: none;
    }
    .about_item_left_footer_adaptive_320 {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: normal;
        display: block;
        margin-top: 10px;
    }
    .about_item_left_footer_button_adaptive_320 {
        display: block;
    }
    .about_footer_button_adaptive_320 {
        margin-top: 11px;
        width: 162px;
        height: 40px;
        border-width: 2px;
        font-size: 14px;
        line-height: 15px;
        color: #ff9900;
    }
    .about_item_right {
        outline: none;
        flex-direction: column;
        padding: 0px;
    }
    .about_item_right_img_cube {
        width: 100%;
        max-height: 65px;
        margin: -10px 0px 0px 0px;
        padding: 0px;
    }
    .about_item_right_img_gear {
        width: 100%;
        max-height: 65px;
        margin: -25px 0px 0px 0px;
        padding: 0px;
    }
    .Group_25 {
        width: 65px;
        height: 65px;
    }
    .about_item_right_description_header {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.1px;
    }
    .about_item_right_description {
        font-family: "Montserrat_bolt";
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 1.1px;
        padding: 0px;
        margin: 5px 0px 0px 0px;
        min-height: 160px;
    }
}


/* ****************** Work ****************** */

.work {
    padding-top: 35px;
}

.work_header {
    margin-top: 71px;
    margin-left: -1px;
    padding: 0;
}

.work_steps_items {
    margin-top: 49px;
    margin-left: 2px;
}

.work_steps_item {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 87px;
}

.work_steps_item:hover {
    color: #ff9900;
}

.work_description {
    margin-top: 42px;
    display: flex;
}

.work_left_column {
    font-weight: normal;
    line-height: 32px;
    color: #333333;
    padding-right: 130px;
    letter-spacing: 0.32px;
    width: 51%;
}

.work_buttons {
    margin-top: 100px;
    padding: 0px;
}

.work_button_detailed {
    width: 175px;
    height: 60px;
    font-weight: bold;
    margin-right: 28px;
}

.work_button_offer {
    border: 1px solid #333333;
    line-height: 20px;
    width: 147px;
    height: 60px;
    font-weight: bold;
}

.work_button_offer:hover {
    background-color: #333333;
    color: #ffffff;
}

.work_right_column {
    background-image: url(../img/Rectangle_18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding-top: 50px;
    min-width: 49%;
}

.slash {
    color: #cacaca;
}

@media (max-width: 1050px) {
    .work_header {
        margin-top: 30px;
        margin-left: -5px;
    }
    .work_steps_items {
        margin-top: 50px;
    }
    .work_steps_item {
        margin-right: 86px;
    }
    .work_left_column {
        line-height: 32px;
        letter-spacing: 0.2px;
        padding-right: 37px;
        width: 50%;
    }
    .work_buttons {
        margin-top: 24px;
    }
    .work_button_detailed {
        margin-right: 25px;
        margin-top: 4px;
    }
    .work_right_column {
        background-image: url(../img/Rectangle\ 18_1.png);
        margin-left: 1px;
        width: 50%;
    }
}

@media (max-width: 770px) {
    .work_header {
        margin-top: 30px;
    }
    .work_steps_items {
        display: flex;
        justify-content: space-between;
    }
    .work_steps_item:last-child {
        margin-right: 0px;
    }
    .work_description {
        flex-direction: column-reverse;
        margin-top: 45px;
    }
    .work_left_column {
        padding-left: 3px;
        line-height: 32px;
        letter-spacing: 0.26px;
        margin-top: 37px;
        width: 100%;
        padding-right: 0px;
    }
    .work_buttons {
        margin-top: 27px;
    }
    .work_button_detailed {
        margin-right: 25px;
    }
    .work_right_column {
        background-image: url(../img/Rectangle\ 18.png);
        margin-left: 1px;
        width: 100%;
        min-height: 230px;
    }
}

@media (max-width: 550px) {
    .work {
        padding-top: 18px;
    }
    .work_header {
        margin-left: 0px;
        letter-spacing: 0.5px;
    }
    .work_steps_items {
        margin-top: 35px;
    }
    .work_description {
        margin-top: 15px;
    }
    .work_steps_item {
        font-size: 14px;
        line-height: 17px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .work_right_column {
        background-image: url(../img/Rectangle\ 18_320.png);
        min-height: 160px;
        padding: 0px;
    }
    .about_item_right_description_header {
        font-size: 18px;
    }
    .work_left_column {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        margin-top: 10px;
        padding: 0px;
    }
    .work_buttons {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    .work_button_detailed {
        margin: 0px;
        width: 162px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }
    .work_button_offer {
        width: 118px;
        height: 40px;
        margin: 0px 0px 0px 10px;
        font-size: 12px;
        line-height: 15px;
    }
}


/* ****************** Question ****************** */

.question {
    padding: 0;
    margin: 100px 0px 0px -15px;
}

.question_header {
    padding-left: 15px;
    line-height: 50px;
}

.question_items {
    margin-top: 0px;
}

.question_item {
    max-height: 50px;
    font-family: Montserrat_bold;
    border-bottom: 1px #cacaca solid;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    line-height: 32px;
    margin-left: 5px;
}

.ui-accordion .ui-accordion-header {
    font-family: Montserrat_bold;
    border-bottom: 1px #cacaca solid;
    padding: 0px;
    margin: 0px 0px 0px 15px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active {
    font-family: Montserrat_bold;
    border-bottom: 1px #cacaca solid;
    font-size: 24px;
    line-height: 32px;
    min-height: 90px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    color: #ff9900;
    border: none;
    background: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    border-bottom: 1px #cacaca solid;
    background: none;
    font-weight: normal;
    color: #454545;
    height: 90px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active:first-child {
    border-top: 1px #cacaca solid;
}

.ui-icon {
    display: none;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
    padding: 10px 0px 10px 50px;
    border: transparent;
    background-color: transparent;
}

.question_text {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
}

.question_pluse {
    width: 50px;
    height: 50px;
}

.question_item_link {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.question_item_link:hover {
    color: #ff9900;
}

.question_plus {
    transition: transform 2s;
}

.question_item_link:hover>.question_pluse>.question_plus {
    transform: rotate(90deg);
}

.question_item:first-child {
    border-top: 1px #cacaca solid;
}

.question_circle {
    max-height: 50px;
    max-width: 50px;
}

.question_circle svg #elipse {
    stroke: #ececec;
    fill: #ececec;
}

.question_circle svg:hover #elipse {
    stroke: #d2d2d2;
    fill: #d2d2d2;
}

.question_circle svg #elipse_1 {
    stroke: #ececec;
    fill: #ececec;
}

.question_circle svg:hover #elipse_1 {
    stroke: #d2d2d2;
    fill: #d2d2d2;
}

.question_circle svg #elipse_2 {
    stroke: #ececec;
    fill: #ececec;
}

.question_circle svg:hover #elipse_2 {
    stroke: #d2d2d2;
    fill: #d2d2d2;
}

.question_circle svg #elipse_3 {
    stroke: #ececec;
    fill: #ececec;
}

.question_circle svg:hover #elipse_3 {
    stroke: #d2d2d2;
    fill: #d2d2d2;
}

.question_circle svg #elipse_4 {
    stroke: #ececec;
    fill: #ececec;
}

.question_circle svg:hover #elipse_4 {
    stroke: #d2d2d2;
    fill: #d2d2d2;
}

.question_plus svg #plus {
    stroke: #666666;
    fill: #666666;
}

.question_plus svg:hover #plus {
    stroke: #000000;
    fill: #000000;
}

.question_plus svg #plus_1 {
    stroke: #666666;
    fill: #666666;
}

.question_plus svg:hover #plus_1 {
    stroke: #000000;
    fill: #000000;
}

.question_plus svg #plus_2 {
    stroke: #666666;
    fill: #666666;
}

.question_plus svg:hover #plus_2 {
    stroke: #000000;
    fill: #000000;
}

.question_plus svg #plus_3 {
    stroke: #666666;
    fill: #666666;
}

.question_plus svg:hover #plus_3 {
    stroke: #000000;
    fill: #000000;
}

.question_plus svg #plus_4 {
    stroke: #666666;
    fill: #666666;
}

.question_plus svg:hover #plus_4 {
    stroke: #000000;
    fill: #000000;
}

.question_plus {
    position: relative;
    top: -40px;
    left: 10px;
    padding: 0;
    margin: 0;
    width: 31px;
    height: 31px;
}

@media (max-width: 1050px) {
    .question {
        margin-top: 61px;
    }
    .question_header {
        letter-spacing: 0.8px;
        margin-bottom: 37px;
    }
    .question_item {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.01px;
        margin: 0px;
        padding-left: 10px;
    }
}

@media (max-width: 770px) {
    .container {
        max-width: 678px;
    }
    .question {
        margin: 0px;
        padding: 0px;
    }
    .question_header {
        letter-spacing: 0.8px;
        padding-left: 8px;
        margin-top: 60px;
        min-width: 100%;
    }
    .question_item {
        letter-spacing: 0.01px;
    }
    .question_text {
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    .container {
        max-width: 678px;
    }
    .question {
        margin: 38px 0px 0px 0px;
    }
    .question_header {
        margin: 0px;
        padding: 0px;
    }
    .question_items {
        margin-top: 15px;
    }
    .question_item {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 0px;
    }
    .question_item:nth-child(1) {
        min-height: 75px;
        padding-top: 15px;
    }
    .question_item:nth-child(2) {
        min-height: 95px;
        padding-top: 20px;
    }
    .question_item:nth-child(3) {
        min-height: 93px;
        padding-top: 21px;
    }
    .question_item:nth-child(3) .question_text {
        width: 100%;
    }
    .question_item:nth-child(4) {
        min-height: 95px;
        padding-top: 21px;
    }
    .question_item:nth-child(4) .question_text {
        width: 100%;
    }
    .question_item:nth-child(5) {
        min-height: 75px;
        padding-top: 15px;
    }
    .question_text {
        width: 81%;
    }
    .ui-accordion .ui-accordion-header {
        padding: 20px 0px;
    }
}


/* ****************** Footer ****************** */

.footer_container {
    background-color: #222222;
    background-size: cover;
    min-height: 630px;
    margin-top: 70px;
    padding-top: 48px;
    min-width: 1050px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_nav {
    width: 20%;
}

.footer_about_content {
    font-weight: 500;
    margin-top: 80px;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 32px;
    color: #cacaca;
    width: 20.4%;
    padding-bottom: 50px;
}

.footer_sotial_items {
    display: flex;
    margin-top: 113px;
}

.footer_sotial_item {
    width: 60px;
}

.footer_sotial_item:not(:last-child) {
    margin-right: 24px;
}

.footer_form_header {
    font-size: 48px;
    line-height: 59px;
    color: #cacaca;
    margin: 10px 0px 0px -4px;
    letter-spacing: 0.9px;
}

.footer_contact_items {
    margin-top: 0px;
}

.footer_contact_item:not(:last-child) {
    padding-bottom: 5px;
}

.footer_contact_item {
    display: flex;
}

.footer_form {
    width: 40%;
    margin-left: 25px;
}

.label_form {
    width: 100%;
}

.footer_contact_input {
    margin: 0px;
    float: left;
    border: transparent;
    height: 55px;
    width: 90%;
    background: #414141;
    font-weight: bold;
    color: white;
    letter-spacing: 0.01px;
    padding-top: 4px;
    padding-left: 24px;
}

.footer_contact_textarea {
    height: 125px;
    padding-top: 24px;
}

.footer_button_send {
    margin-top: 28px;
    height: 60px;
    width: 269px;
    font-family: Montserrat_bold;
}

.footer_nav_items {
    margin-top: 14px;
    margin-right: 30px;
}

.footer_nav_item {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #cacaca;
    margin-bottom: 14px;
    letter-spacing: 0.6px;
}

.checkbox-other {
    display: block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox-other input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-other span {
    display: inline-block;
    position: relative;
    top: 50px;
    left: 30px;
    padding: 0px 0 0 17px;
    color: #cacaca;
    width: 235px;
}

.checkbox-other span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 2px;
    transition: background 0.3s ease;
    background: url(../img/Check.svg) 0 0 no-repeat;
}

.checkbox-other input[type="checkbox"]:checked+span:before {
    background-image: url(../img/Check2.svg);
}


/* Focus */

.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.footer_logo {
    background-image: url(../img/logo_2_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72px;
    width: 224px;
}

.ui-helper-reset {
    line-height: 32px;
}

@media (max-width: 1050px) {
    .footer_container {
        margin-top: 58px;
        padding-top: 48px;
        min-width: 776px;
    }
    .footer_about_content {
        display: none;
    }
    .footer_nav {
        min-width: 40%;
    }
    .footer_nav_item {
        margin-bottom: 13.8px;
    }
    .footer_sotial_items {
        margin-top: 115px;
    }
    .footer_form {
        margin-left: 20px;
        min-width: 60%;
    }
    .footer_form_header {
        letter-spacing: 1.5px;
    }
    .footer_contact_input {
        height: 52px;
        width: 80%;
        padding-top: 3px;
        margin-top: 3px;
        letter-spacing: 0.3px;
    }
    .footer_contact_textarea {
        height: 125px;
        padding-top: 24px;
        margin-top: 0px;
    }
    .footer_button_send {
        margin-top: 6px;
        max-width: 30%;
        font-family: Montserrat_bold;
    }
    .checkbox-other span {
        top: 30px;
        left: 25px;
    }
}

@media (max-width: 770px) {
    .footer_container {
        min-width: 446px;
    }
    .footer_nav_items {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    .footer_form {
        margin: 0px;
        width: 100%;
        padding-left: 10px;
    }
    .footer_form_header {
        letter-spacing: 1px;
    }
    .footer_contact_input {
        width: 90%;
        height: 58px;
        padding-top: 0px;
        margin-top: 10px;
    }
    .footer_contact_textarea {
        height: 125px;
        padding-top: 20px;
    }
    .footer_contact_items {
        margin-top: 16px;
    }
    .footer_contact_item:not(:last-child) {
        padding-bottom: 15px;
    }
    .footer_button_send {
        margin-top: 20px;
        font-family: Montserrat_bold;
    }
    .checkbox-other span {
        top: 41px;
        left: 25px;
    }
    .footer_nav {
        margin-top: 55px;
        padding-left: 9px;
        width: 80%;
    }
    .footer_sotial_items {
        margin-top: 10px;
        padding-bottom: 60px;
    }
}

@media (max-width: 330px) {
    .footer_container {
        padding: 0px;
        margin-top: 40px;
        min-width: 330px;
    }
    .footer_form {
        padding: 40px 0px 0px 0px;
    }
    .footer_form_header {
        margin: 0px 0px 20px 0px;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.3px;
    }
    .footer_contact_input {
        min-width: 90%;
        margin: 0px 10px 10px 0px;
        font-size: 14px;
        line-height: 32px;
    }
    .footer_contact_item:last-child {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #595959;
        height: 115px;
    }
    .footer_button_send {
        min-width: 180px;
        margin: 5px auto;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }
    .checkbox-other span {
        width: 250px;
        top: 15px;
        left: 10px;
        font-size: 16px;
        letter-spacing: 0.4px;
    }
    .footer_nav {
        margin: 0px;
    }
    .footer_logo {
        height: 42px;
        width: 131px;
        margin: 20px 70px 0px 70px;
    }
    .footer_sotial {
        padding: 5px 0px 0px 70px;
    }
    .footer_sotial_item {
        width: 35px;
    }
    .footer_sotial_item:not(:last-child) {
        margin-right: 13px;
    }
}