@font-face {
    font-family: "MullerBold";
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MullerLight";
    src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MullerMedium";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MullerRegular";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

:root {
    --color_body: #f1f1f1;
    --color_a: #cc9933;
    --color_phone: #666666;
    --color_black: black;
    --color_white: white;
    --color_li: #333333;
    --color_nav_input: #bebebe;
    --color_price: #a3a3a2;
    --color_special_link: #dfb35a;
    --color_hero_input: #999999;
    --description_text: #a4a4a4;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MullerRegular", sans-serif;
    font-size: 16px;
    background-color: var(--color_body);
}

a {
    color: inherit;
    text-decoration: none;
    transition: 1.5s;
}

a:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: var(--color_a);
}

button {
    transition: 1.5s;
}

button:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: var(--color_black);
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_text {
    font-size: 40px;
    margin-bottom: 0px;
}

.header {
    line-height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header_logo {
    padding: 0px;
}

/* ******************************** Номер телефона ******************************* */
.header_phone {
    font-family: "MullerBold";
    font-size: 22px;
    color: var(--color_phone);
}

/* ******************************** Личный кабинет ******************************* */
.header_personal_room {
    font-size: 16px;
    font-weight: bold;
    color: var(--color_a);
    padding-right: 0px;
    text-align: right;
}

.arrow {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    fill: var(--color_a);
}

/* ******************************** navigation ******************************* */

.nav {
    background-color: var(--color_white);
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav_ul {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
}

.nav_ul_item {
    color: var(--color_li);
    font-size: 16px;
    font-weight: bold;
}

.nav_ul_item:not(:last-child) {
    padding-right: 45px;
}

/* ******************************** search ******************************* */
.nav_search {
    display: flex;
    min-width: 350px;
    min-height: 45px;
    background-color: var(--color_body);
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
}

.nav_search_input {
    background-color: transparent;
    border: none;
    margin-right: 0px;
    min-width: 300px;
    margin: 0 auto;
}

.nav_search_input[type="text"] {
    padding-left: 24px;
    font-size: 14px;
    color: var(--color_nav_input);
    font-weight: bold;
}

.nav_search_button {
    border: none;
    background-image: url(../img/search.svg);
    border-radius: 12px;
    min-width: 50px;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

/* ******************************** H1 hidden ******************************* */
.visible_hidden {
    padding: 0;
    margin: 0;
    opacity: 0;
    font-size: 1px;
    line-height: 1px;
}

/* ******************************** Быстрая бронь ******************************* */
.hero_left_column {
    min-height: 650px;
    padding-top: 50px;
    padding-left: 0px;
}

.hero_booking_header {
    margin-left: 40px;
}

.hero_input_items {
    padding-top: 35px;
}

.hero_input_item {
    margin-bottom: 25px;
    width: 90%;
}

.hero_input {
    width: 100%;
    border-radius: 12px;
    background-color: var(--color_white);
    border-color: transparent;
    min-height: 65px;
    padding-left: 15px;
    color: var(--color_hero_input);
}

.hero_button {
    min-width: 159px;
    min-height: 70px;
    border-radius: 12px;
    background-color: var(--color_a);
    border-color: transparent;
    color: var(--color_white);
    font-family: "MullerBold";
    cursor: pointer;
}

.hero_input_footer_text {
    font-size: 16px;
    color: var(--color_hero_input);
    padding-left: 25px;
}

.hero_input_footer_number {
    color: var(--color_a);
}

/* ******************************** Спецпредложение ******************************* */
.hero_right_column {
    min-height: 650px;
    padding-top: 50px;
    background-image: url(../img/22.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 130px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.hero_Spesial_header {
    margin-left: 30px;
}

.hero_Spesial_discription {
    margin-right: 60px;
    margin-top: 285px;
    font-family: "MullerBold";
    font-size: 66px;
    line-height: 58px;
    color: var(--color_white);
}

.hero_Spesial_footer {
    margin-top: 30px;
}

.hero_Spesial_price {
    font-size: 35px;
    letter-spacing: 2px;
    color: var(--color_price);
}

.hero_Spesial_link {
    margin-left: 35px;
    font-size: 16px;
    color: var(--color_special_link);
}

/* ******************************** О нас ******************************* */

.about {
    padding-top: 50px;
    padding-left: 30px;
}

.about_content {
    font-size: 16px;
    line-height: 32px;
    padding: 0 245px 0 0;
    margin: 0px;
    color: var(--color_phone);
}

/* ******************************** Услуги ******************************* */
.services {
    padding: 25px 0 0 0;
}

.services_header {
    margin-left: 45px;
    margin-bottom: 0px;
}

.services_item {
    background-color: var(--color_white);
    border-radius: 12px;
    min-height: 325px;
    padding: 0px;
    margin-top: 20px;
}

.services_item_img {
    width: 100%;
}

.services_item_link {
    color: var(--color_a);
    font-family: "MullerMedium";
    font-size: 22px;
    padding-top: 25px;
    padding-left: 45px;
}

.services_item_description_text {
    color: var(--color_li);
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 100px;
}

/* ******************************** Преимущетва ******************************* */

.advantages {
    padding-top: 30px;
    padding-right: 0px;
}

.advantages_header {
    margin-left: 25px;
    margin-bottom: 0px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 275px;
    margin-top: 25px;
    background-color: var(--color_white);
    border-radius: 12px;
    padding: 25px 30px 0px 45px;
}
.col-lg-3 {
    padding-left: 0px;
}

.col-lg-3:nth-child(4n) {
    padding-right: 0px;
}

.advantages_item_img {
    align-self: flex-start
}

.advantages_item_description_text {
    color: var(--color_li);
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 35px;   
}

/* ******************************** Размещение ******************************* */

.placement {
    padding: 0px;
}

.placement_header {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 45px;
    margin-bottom: 0px;
}

.placement_item {
    background-color: var(--color_white);
    border-radius: 12px;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1px;
}

.placement_item_img {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.placement_item_description_text {
    color: var(--description_text);
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    margin: 0px 40px 0 45px;
}

.placement_price_sum {
    font-family: "MullerBold";
    font-weight: bold;
    color: var(--color_black);
    font-size: 25px;
}

.placement_star_img {
    margin-left: 20px;
}

.placement_star_img_item:not(:last-child) {
    padding-right: 1px;
}

.placement_name_hotel {
    color: var(--color_black);
}

.placement_button {
    background-color: transparent;
    border-radius: 12px;
    border: var(--color_a) 1px solid;
    color: var(--color_a);
    margin-top: 10px;
    padding: 10px 20px;
    font-family: "MullerBold";
    cursor: pointer;
}

.placement_show_all {
    padding: 0px;
    background-image: url(../img/41.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.placement_show_all_text_link {
    margin-top: 370px;
    margin-left: 30px;
    font-family: "MullerMedium";
    font-size: 22px;
    color: var(--color_white);
    width: 295px;
    min-height: 22px;
}

.placement_show_all_text_link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

/* ******************************** Контакты ******************************* */

.footer_Contact {
    padding: 0px;
}

.footer_contacts_header {
    padding: 0px;
    margin: 30px 0 15px 40px;
}

.footer_contacts_items {
    background-color: var(--color_white);
    border-radius: 12px;
    width: 460px;
    min-height: 620px;
    padding-top: 50px;
}

.footer_contacts_item {
    min-height: 70px;
    width: 385px;
    display: flex;
    margin-left: 45px;
}

.footer_contacts_item:not(:last-child) {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 25px;
}

.footer_contacts_item_header {
    margin: 0;
    width: 30%;
    font-family: "MullerBold";
    font-size: 22px;
    color: var(--color_phone);
}

.footer_contacts_item_content {
    width: 70%;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 20px;
    line-height: 24px;
}

.footer_botton {
    margin-top: 20px;
    padding: 25px 25px;
}

.footer_link {
    color: var(--color_a);
}

.footer_mail {
    padding-left: 70px;
}

.footer_contacts_mail {
    margin-left: 35px;
    margin-top: 165px;
}

.footer_input_items {
    margin-top: 30px;
    width: 350px;
}

.footer_input_item {
    padding-bottom: 25px;
}

.footer_mail_textarea {
    padding-top: 10px;
    resize: both;
}

.footer_mail_botton {
    min-width: 350px;
}

/* ******************************** Footer ******************************* */

.footer_main {
    color: var(--color_white);
    margin-top: 25px;  
    height: 330px;
    background-image: url(../img/Прямоугольник_1.png);
    background-size: 100%;
    padding: 30px 0 0 0;
}

.footer_main_sun {
    position: relative;
    left: 260px;
    top: -150px;
    overflow: hidden;
}

.foter_main_about_content {    
    margin-left: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}


.foter_main_contacts {
    padding-left: 70px;
    height: 255px;
}

.foter_main_contacts_content {
    margin-top: 45px;
    line-height: 20px;
}


.footer_social_link_items {
    margin: 20px;
}

.footer_social_link_item {
    margin-bottom: 15px;
}
