@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white !important;
  font-family: "Graphik LCG", serif;
  margin-bottom: 30px;
}

.link_download {
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: 3px #2f1ce4 solid; /* Параметры границы */
  display: inline-block;
}

.link_detailed {
  padding: 20px;
  color: white;
  background-color: transparent;
  border: 3px white solid;
  display: inline-block;
}

.container {
  /* border: 2px solid black ; */
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.back_button_img {
  background-image: url(../img/return.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  position: relative;
  left: -20px;
  padding-left: 60px;
  padding-top: 5px;
  margin-top: 50px;
  display: inline-block;
}

.first_heading {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.second_heading {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin: 100px 0 25px 0;
}

ul,
ol {
  padding-left: 200px;
  font-size: 18px;
}

li {
  margin-bottom: 5px;
  color: #2f1ce4;
}

li span {
  color: #222020;
}

.paragraph {
  padding: 0 0 20px 180px;
}

.my_image {
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin: 50px 0 50px 0;
}

img {
  max-width: 400px;
}

.my_table {
  width: 900px;
  border: 1px solid #a0a0a0;
  border-collapse: 1;
  margin-top: 100px;
  margin-left: 100px;
  border-spacing: 0px;
  border-collapse: collapse;
}
.my_table caption {
  padding: 20px;
}
.my_table th {
  padding: 10px;
}
.my_table td {
  padding: 8px;
  border: 1px solid #a0a0a0;
}

.my_table tfoot {
  text-align: center;
  color: #2f1ce4;
}

li a {
  text-decoration: underline;
  color: #2f1ce4;
}

.bground {
  width: 100%;
  background-image: url(../img/bg_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  padding: 10px 0 0 5px;
  font-size: 2.5em;
}

h2 {
  font-size: 36px;
  color: #2f1ce4;
}

.content {
  height: 180px;
  margin-left: 50px;
}
.content span {
  padding-top: 15px;
  display: block;
}

.child {
  text-align: left;
  display: inline-block;
  width: auto;
  min-height: 400px;
  box-shadow: 0 0 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  vertical-align: middle;
  position: relative;
}

.number {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Graphik LCG", sans-serif;
  color: #e3e1e1;
  font-size: 2.5em;
}

.parent {
  text-align: center;
  margin: 0 auto;
}

.right {
  margin-left: 5%;
}

.btn-center {
  position: relative;
  top: 70px;
  padding: 20px;
  text-align: center;
  width: 200px;
  color: #2f1ce4;
  background-color: white;
  border: 3px #2f1ce4 solid;
  margin: 0px auto;
}
